[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
isort = "*"
flake8 = "*"
pylint = "*"
pyflakes = "*"

[dev-packages]
nose = "*"
mypy = "*"
types-requests = "*"
black = "==22.6.0"

[requires]
python_version = "3.8"
